.entryBox {
    // overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.slide-ctx {
    min-height: 100%;
    min-width: 100%;
}