<template>
    <div class="page entryBox">
        <div class="rel ctx">
            <v_posterbg></v_posterbg>
            <swiper ref="mySwiper" id="swiperBox" class="swiper-container" v-bind:options="swiperOption">

                <swiper-slide v-for="(item,index) in componentsList" :key="index" :data-slide="item.slide"
                    :ref="item.slide"
                    :class="`swiper-slide swiper-slide`+(index+1)+` `+item.className+` `+item.autoHeight">
                    <div class="page">
                        <component ref="ref_componentName" v-bind:is="item.componentName"></component>
                    </div>
                </swiper-slide>

            </swiper>
        </div>

    </div>
</template>


<style lang="scss" scoped src="./entryBox.scss"></style>


<script>
    import {
        swiper,
        swiperSlide
    } from 'vue-awesome-swiper'
    import video_box from '@/pages/v/v.vue'
    import page_box from '@/pages/pageBox/pageBox.vue'
    import v_posterbg from '@/pages/vPoster/vPBg.vue'


    export default {
        name: 'entryBox',
        components: { //组件
            swiper,
            swiperSlide,
            video_box,
            page_box,
            v_posterbg,
        },
        data() {
            return {
                componentsList: [{
                    componentName: 'video_box',
                    slide: 'slide0',
                    className: 1 ? '' : 'swiper-no-swiping'
                }, {
                    componentName: 'page_box',
                    slide: 'slide1',
                    className: 1 ? '' : 'swiper-no-swiping'
                }, ],
                startScroll: '',
                touchStart: '',
                touchCurrent: '',
                swiperOption: {
                    allowTouchMove: false,
                    initialSlide: 0,
                    autoplay: false,
                    loop: false,
                    noSwiping: true,

                    // shortSwipes: false,
                    // followFinger: false,
                    // freeModeMinimumVelocity: 0.2,

                    autoHeight: true,
                    height: window.innerHeight, // 高度设置，占满设备高度
                    slidesPerView: 1, //设置slider容器能够同时显示的slides数量(carousel模式)。可以设置为数字（可为小数，小数不可loop），或者 'auto'则自动根据slides的宽度来设定数量。loop模式下如果设置为'auto'还需要设置另外一个参数loopedSlides。
                    direction: 'vertical', //垂直
                    // speed: 800,

                    resistanceRatio: 0, //0时完全无法拖离
                    notNextTick: true, //notNextTick是一个组件自有属性，如果notNextTick设置为true，组件则不会通过NextTick来实例化swiper，也就意味着你可以在第一时间获取到swiper对象，假如你需要刚加载遍使用获取swiper对象来做什么事，那么这个属性一定要是true

                    observer: true, //修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true, //修改swiper的父元素时，自动初始化swiper
                    on: {
                        init: () => {
                            this.slideIndex = 0
                            this.$nextTick(() => {
                                this.onSwiper()
                                document.querySelectorAll('.swiper-slide')[0].style.background = '#000'
                                document.querySelectorAll('.swiper-slide')[1].style.background = '#000'
                                document.querySelector('.swiper-slide2').style.overflow = 'hidden'
                            })
                        },
                        slideNextTransitionStart: () => {
                            if (this.swiper.activeIndex - 1 == 0) {
                                document.querySelector('.swiper-slide2').style.overflow = 'hidden'
                            }
                        },
                        slidePrevTransitionStart: () => {
                            if (this.swiper.activeIndex + 1 == 1) {
                                document.querySelector('.swiper-slide2').style.overflow = 'hidden'
                            }
                        },
                        transitionEnd: () => {
                            if (this.swiper.activeIndex == 0) {
                                this.$refs.ref_componentName[0].$emit('videoplay')
                            } else {
                                this.$refs.ref_componentName[0].$emit('videopause')
                                document.querySelector('.swiper-slide2').style.overflow = 'auto'
                                _smq.push(['custom', 'Jewel wave 2 campaign', 'Scroll Down', 'P3']);
                            }
                        },
                    },
                },
            }
        },
        created() {

        },
        computed: {
            swiper() {
                return this.$refs.mySwiper.swiper
            }
        },
        mounted() { //页面加载完成后执行
            this.onInit();

            this.$on('isload', (data) => {
                if (!data) return
                    //可滑动
                    // this.swiper.allowTouchMove = true
            })

            this._GLOBAL.eventBus.$on('videoposterend', () => {
                //可滑动
                this.swiper.allowTouchMove = true
                this._GLOBAL.eventBus.$emit('videoplay')
            })

            this._GLOBAL.eventBus.$on('videoclicknext', () => {
                this.swiper.slideNext();
            })

        },
        methods: {
            onInit: function() {},
            onSwiper: function() {
                let that = this

                this.swiper.slides.on('touchstart', function(e) {
                    this.startScroll = this.scrollTop;
                    this.touchStart = e.targetTouches[0].pageY;


                    if (that.swiper.activeIndex != 1) return
                        //slide2
                    let slide2Top = document.querySelector('.swiper-slide2').scrollTop;

                    if (slide2Top <= 20) {
                        that.swiper.allowTouchMove = true
                    } else {
                        that.swiper.allowTouchMove = false
                    }

                }, true)

                this.swiper.slides.on('touchmove', function(e) {
                    this.touchCurrent = e.targetTouches[0].pageY;
                    var touchesDiff = this.touchCurrent - this.touchStart;

                    var slide = this;
                    var onlyScrolling =
                        (slide.scrollHeight > slide.offsetHeight) &&
                        (
                            (touchesDiff < 0 && this.startScroll === 0) ||
                            (touchesDiff > 0 && this.startScroll === (slide.scrollHeight - slide
                                .offsetHeight)) ||
                            (this.startScroll > 0 && this.startScroll < (slide.scrollHeight -
                                slide.offsetHeight))
                            //Math.ceil兼容长图滑到底后继续后一个slide
                            // (this.startScroll > 0 && Math.ceil(this.startScroll) < (slide.scrollHeight -
                            //     slide.offsetHeight))
                        );
                    // console.log(onlyScrolling, 'slide.scrollHeight > slide.offsetHeight', slide
                    //     .scrollHeight > slide.offsetHeight, 'touchesDiff', touchesDiff,
                    //     'this.startScroll', this.startScroll,
                    //     'slide.scrollHeight - slide.offsetHeight', slide.scrollHeight - slide
                    //     .offsetHeight, 'slide.scrollHeight-slide.offsetHeight', slide.scrollHeight -
                    //     slide.offsetHeight)
                    // console.log((touchesDiff < 0 && this.startScroll === 0), "||", (touchesDiff > 0 && this
                    //     .startScroll === (slide.scrollHeight - slide
                    //         .offsetHeight)), "||", (this.startScroll > 0 && this.startScroll < (
                    //     slide.scrollHeight - slide.offsetHeight)))

                    if (onlyScrolling) {
                        e.stopPropagation();
                    }

                    if (that.swiper.activeIndex != 1) return
                        //slide2
                    let slide2Top = document.querySelector('.swiper-slide2').scrollTop;

                    if (slide2Top > 700 && slide2Top <= 1400) {
                        that.showP4()
                    }

                    if (slide2Top > 1400) {
                        that.showP5()
                    }
                    if (slide2Top > 520 && slide2Top < 1200) {
                        that._GLOBAL.eventBus.$emit('slide2p2play')
                    } else {
                        that._GLOBAL.eventBus.$emit('slide2p2pause')
                    }

                }, {
                    passive: false
                })

                this.swiper.slides.on('touchend', function(e) {
                    if (that.swiper.activeIndex != 1) return
                        //slide2
                    let slide2Top = document.querySelector('.swiper-slide2').scrollTop;
                    if (slide2Top > 500 && slide2Top < 1200) {
                        that._GLOBAL.eventBus.$emit('slide2p2play')
                    } else {
                        that._GLOBAL.eventBus.$emit('slide2p2pause')
                    }
                })

                this.swiper.slides.on('slideChangeTransitionEnd', function(e) {
                    this.slideIndex = this.swiper.activeIndex;
                }, true)
            },
            showP4() {
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Scroll Down', 'P4']);
                this.showP4 = () => {}
            },
            showP5() {
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Scroll Down', 'P5']);
                this.showP5 = () => {}
            },


        },
        destroyed() {},

    }
</script>