.load {
    position: absolute;
    background: #ededed;
    overflow: hidden;
    .lineBox {
        width: 100%;
        top: 0;
        left: -100%;
        transition: all linear 0.2s;
        overflow: hidden;
        ul,
        li {
            margin: 0;
            padding: 0;
        }
        .lineItem {
            width: 750/100*2+rem;
        }
        li {
            display: inline-block;
            width: 750/100+rem;
        }
    }
    // .top {
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    // }
    // .loadimg {
    //     width: 96/100+rem;
    // }
    // .bottom {
    //     width: 100%;
    //     bottom: 0;
    //     left: 0;
    // }
    .loadBox {
        .load_line {
            width: 100%;
            top: 0;
        }
        .img {
            width: 188/100+rem;
            margin-left: 8/100+rem;
        }
        .progressBg {
            width: 510/100+rem;
            overflow: hidden;
            .progress {
                width: 0%;
                height: 102%;
                top: 0;
                left: 0;
                border-radius: 10px;
                transition: all linear 0.2s;
                background: #9fc65a;
            }
        }
        .txt {
            width: 140/100+rem;
            margin-top: 16/100+rem;
        }
    }
}