<template>
    <div class="page load">
        <!-- <div class="rel ctx">
            <div ref="lineBox" class="abs lineBox">
                <ul ref="lineItem" class="rel lineItem">
                    <li v-for="(item,index) in lineItemList" :key="index">
                        <img src="images/load/load_line.jpg" alt="">
            </li>
            </ul>
        </div> -->
        <!-- <div class="abs top"><img src="images/load/top.png" alt=""></div>
            <div class="abs center centerh loadimg"><img src="images/load/img.png" alt=""></div>
            <div class="abs bottom"><img src="images/load/bottom.png" alt=""></div> -->

        <div class="abs load_line"><img src="@/images/load/load_line.jpg" alt=""></div>

        <div v-if="!isLoad" class="abs center centerh loadBox">
            <div class="rel img"><img src="@/images/load/img.png" alt=""></div>
            <div class="rel progressBg">
                <img src="@/images/load/progress.png" alt="">
                <span ref="progress" class="abs progress"></span>
            </div>
            <div class="rel mcenter txt"><img src="@/images/load/txt.png" alt=""></div>
        </div>

    </div>

</template>


<style lang="scss" scoped src="./load.scss"></style>


<script>
    export default {
        name: 'load',
        data() {
            return {
                isIOS: /iphone/gi.test(navigator.userAgent) && (this._GLOBAL.device.wechat || this._GLOBAL.isDevtools),
                lineItemList: [1, 1],
                isLoad: false,

                imgp: 0, //进度
                vp: 0, //
                img_weight: 0.4, //资源总数为1
                v_weight: 0.6, //资源总数为1
                progressNum: 0, //总进度

                imgLoadArr: [
                    'list/tips_time.png',
                    'list/backBtn.png',
                    'list/bg.jpg',
                    'list/discount_title.png',
                    'list/gml.png',
                    'list/mff.png',
                    'list/pmw.png',
                    'list/qiyu_title.png',
                    'list/sxw.png',

                    'list/listDiscount/gml0img.png',
                    'list/listDiscount/gml1img.png',
                    'list/listDiscount/gml2img.png',
                    'list/listDiscount/gml3img.png',
                    'list/listDiscount/gml4img.png',
                    'list/listDiscount/gml5img.png',
                    'list/listDiscount/gml6img.png',
                    'list/listDiscount/gml7img.png',
                    'list/listDiscount/gml8img.png',
                    'list/listDiscount/gml9img.png',
                    'list/listDiscount/gml10img.png',
                    'list/listDiscount/gml11img.png',
                    'list/listDiscount/gml12img.png',
                    'list/listDiscount/gml13img.png',
                    'list/listDiscount/gml14img.png',
                    'list/listDiscount/pmw0img.png',
                    'list/listDiscount/pmw1img.png',
                    'list/listDiscount/pmw2img.png',
                    'list/listDiscount/pmw3img.png',
                    'list/listDiscount/pmw4img.png',
                    'list/listDiscount/pmw5img.png',
                    'list/listDiscount/pmw6img.png',
                    'list/listDiscount/pmw7img.png',
                    'list/listDiscount/sxw0img.png',
                    'list/listDiscount/sxw1img.png',
                    'list/listDiscount/sxw2img.png',
                    'list/listDiscount/sxw3img.png',
                    'list/listQiyu/gml0img.png',
                    'list/listQiyu/gml1img.png',
                    'list/listQiyu/gml3img.png',
                    'list/listQiyu/gml4img.png',
                    'list/listQiyu/gml5img.png',
                    'list/listQiyu/gml6img.png',
                    'list/listQiyu/gml7img.png',
                    'list/listQiyu/gml8img.png',
                    'list/listQiyu/gml9img.png',
                    'list/listQiyu/gml10img.png',
                    'list/listQiyu/gml11img.png',
                    'list/listQiyu/gml12img.png',
                    'list/listQiyu/gml13img.png',
                    'list/listQiyu/mff0img.png',
                    'list/listQiyu/mff1img.png',
                    'list/listQiyu/mff2img.png',
                    'list/listQiyu/mff3img.png',
                    'list/listQiyu/pmw0img.png',
                    'list/listQiyu/pmw1img.png',
                    'list/listQiyu/pmw2img.png',
                    'list/listQiyu/pmw3img.png',
                    'list/listQiyu/pmw4img.png',
                    'list/listQiyu/pmw5img.png',
                    'list/listQiyu/pmw6img.png',
                    'list/listQiyu/pmw7img.png',
                    'list/listQiyu/pmw8img.png',
                    'list/listQiyu/pmw9img.png',
                    'list/listQiyu/pmw10img.png',
                    'list/listQiyu/pmw11img.png',
                    'list/listQiyu/pmw12img.png',
                    'list/listQiyu/pmw13img.png',
                    'list/listQiyu/pmw14img.png',
                    'list/listQiyu/sxw0img.png',
                    'list/listQiyu/sxw1img.png',
                    'list/listQiyu/sxw2img.png',
                    'list/listQiyu/sxw3img.png',
                    'list/listQiyu/sxw4img.png',

                    'p1/bg1.jpg',
                    'p1/title.png',
                    'p1/title1.png',
                    'p1/title_1.png',
                    'p1/title_2.png',
                    'p2/bg1.jpg',
                    'p2/gifboxBg.png',
                    'p2/leftImg.png',
                    'p2/p2gif3.gif',
                    'p2/title2.png',
                    'p2/title2Bg.png',

                    'p3/bg1.jpg',
                    'p3/left_off.png',
                    'p3/left_on.png',
                    'p3/lijiahang_chs_a.png',
                    'p3/lijiahang_chs_b.png',
                    'p3/lijiahang_chs_c.png',
                    'p3/lijiahang_title.png',
                    'p3/lijiahang_video.png',
                    'p3/xiaofengzi_chs_a.png',
                    'p3/xiaofengzi_chs_b.png',
                    'p3/xiaofengzi_chs_c.png',
                    'p3/xiaofengzi_title.png',
                    'p3/xiaofengzi_video.png',

                    'v/bg.jpg',
                    'v/poster_fly.png',
                    'v/poster_line.png',
                    'v/poster_title.png',
                    'v/poster_txt.png',
                ],
            }
        },
        mounted() {
            this.onInit();

            if (this.isIOS) {
                this.onLoadImg()
            } else {
                this.onLoadImg()
                this.onLoadVideo()
            }

            this.$on('loadprogress', (data) => {
                console.log('loadprogress', data)
                this.changeline_width.change(data)
            })

        },
        methods: {
            onInit() {
                //顶部进度条
                // this.line_draw = this.lineDraw(() => {
                //     this.$emit('listenloadevent', 'onload')
                // })
                // this.line_draw.start()
                // this.changeline_width = this.changeWidth(() => {
                //     //加载完成
                //     this.line_draw && this.line_draw.clear()
                // })

                // setTimeout(() => {
                //     this.changeline_width.change(100)
                // }, 1000)

                //目前写法：进度条达到100，监听video进度
                //需要进度条更新和video同时，分权重
                this.changeline_width = this.changeWidth(() => {
                    //加载完成,
                    setTimeout(() => {
                        // this.isLoad = true
                        // if (this.isIOS) {
                        //     this.isLoad = true
                        //     this.$emit('listenloadevent', 'onload')
                        // } else {
                        //     this._GLOBAL.eventBus.$on('listenvideoevent', (data) => {
                        //         if (data[0] == 'onload') {
                        //             this.isLoad = true
                        //             this.$emit('listenloadevent', 'onload')
                        //         // } else if (data[0] == 'onprogress') {
                        //         //     console.log(data[1])
                        //         }
                        //     })
                        // }

                        this.isLoad = true
                        this.$emit('listenloadevent', 'onload')
                    }, 600)
                })
            },
            // 线条滚动
            lineDraw(callback) {
                let isclear = false;
                const start = () => {
                    let lineItem_left = -100
                    let speed = 1
                    let lineItem_interval = ''

                    clearInterval(lineItem_interval)
                    lineItem_interval = setInterval(() => {
                        lineItem_left += speed
                        if (lineItem_left == 0) {
                            if (isclear) {
                                clearInterval(lineItem_interval)
                                callback && callback()
                            }

                            this.lineItemList = [1, 1]
                            this.$nextTick(() => {
                                lineItem_left = -100
                            })
                        }
                        this.$refs.lineItem.style.left = lineItem_left + '%'
                    }, 20)
                }
                const clear = () => {
                    isclear = true
                }
                return {
                    start,
                    clear
                }
            },
            // 线条宽度进度
            changeWidth(callback) {
                var $ele = this.$refs.progress
                const start_test = () => {
                    // lineBox_width
                    let progress = 0
                    let speed = 10
                    let lineBox_interval = ''

                    lineBox_interval = setInterval(() => {
                        if (progress < 100) {
                            progress += speed
                            $ele.style.marginLeft = progress + '%'
                        } else {
                            //加载完成
                            clearInterval(lineBox_interval)
                            callback && callback()
                        }
                    }, 300)
                }
                const change = (progress) => {
                    $ele.style.width = progress + '%'
                    if (progress >= 100) {
                        callback && callback()
                    }
                }
                return {
                    start_test,
                    change
                }
            },

            onLoadImg() {
                let len = this.imgLoadArr.length
                let loadImgNumber = 0;
                this.imgLoadArr.map((item, index) => {
                    var img = new Image()
                    img.onload = () => {
                        loadImgNumber++
                        this.update_changeline_width_img(loadImgNumber / len)
                    }
                    img.onerror = () => {
                        loadImgNumber++
                        this.update_changeline_width_img(loadImgNumber / len)
                    }
                    img.src = "static/images/" + item
                })
            },
            onLoadVideo() {
                this._GLOBAL.eventBus.$on('listenvideoevent', (data) => {
                    if (data[0] == 'onprogress') {
                        this.update_changeline_width_v(data[1])
                    }
                })
            },

            update_changeline_width_img(imgp) {
                if (this.isIOS) {
                    this.imgp = imgp * 100
                } else {
                    this.imgp = imgp * 100 * this.img_weight
                }
                this.changeline_width.change(this.imgp + this.vp)
                if (this.$store.state.videoLoad) {
                    this.changeline_width.change(100)
                }
            },
            update_changeline_width_v(vp) {
                this.vp = vp * 100 * this.v_weight
                this.changeline_width.change(this.imgp + this.vp)

            },
        },
    }
</script>