.listDiscount {
    height: auto;
    background: #434343;
    .tipsTime {
        width: 371/100+rem;
        top: 45/100+rem;
        left: 45/100+rem;
    }
    .title {
        width: 645/100+rem;
        top: 134/100+rem;
    }
    .backBtn {
        position: fixed;
        width: 133/100+rem;
        top: 12/100+rem;
        right: 12/100+rem;
        z-index: 5;
    }
    .listBox {
        padding-top: 270/100+rem;
        .list_item {
            padding-bottom: 80/100+rem;
            // img {
            //     filter: drop-shadow(0 0 10px #a4a4a4);
            // }
            &:last-child {
                padding-bottom: 200/100+rem;
            }
        }
        .list_item_title {
            width: 230/100+rem;
            margin-left: 40/100+rem;
        }
        .list_item_list {
            display: flex;
            width: 670/100+rem;
            margin-top: 30/100+rem;
            border-radius: 10px;
        }
    }
}