<template>
    <div class="page listDiscount">
        <div class="rel ctx">
            <div class="abs ">
                <img src="static/images/list/bg.jpg" alt="">
            </div>
            <div class="abs tipsTime">
                <img src="static/images/list/tips_time.png" alt="">
            </div>
            <div class="abs center title">
                <img src="static/images/list/discount_title.png" alt="">
            </div>
            <div @click="backHome" class="abs backBtn">
                <img src="static/images/list/backBtn.png" alt="">
            </div>
            <div class="rel listBox">
                <div v-for="(item,index) in listBoxItem" :key="index" :class="`rel list_item `+ item.name"
                    :data-item="item.name">
                    <div class="rel list_item_title">
                        <img :src="`static/images/list/`+item.name+`.png`" alt="">
                    </div>
                    <div v-for="(_item,_index) in item.len" :key="_index" class="rel mcenter list_item_list">
                        <div class="rel list_item_img">
                            <img :src="`static/images/list/listDiscount/`+item.name+_index+`img.png`" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>


<style lang="scss" scoped src="./listDiscount.scss"></style>

<script>
    export default {
        name: 'listDiscount',
        data() {
            return {
                listBoxItem: [{
                    name: 'sxw',
                    len: 4,
                }, {
                    name: 'gml',
                    len: 15,
                }, {
                    name: 'pmw',
                    len: 8,
                }],
                isload: false,
            }
        },
        mounted() {
            this.loadImg()
        },
        methods: {
            loadImg() {
                this.load1()

            },
            load(len, name, callback) {
                let loadImgNumber = 0;
                for (var i = 0; i < len; i++) {
                    var img = new Image()
                    img.onload = () => {
                        loadImgNumber++
                        if (loadImgNumber == len) {
                            callback && callback()
                        }
                    }
                    img.onerror = () => {
                        loadImgNumber++
                        if (loadImgNumber == len) {
                            callback && callback()
                        }
                    }
                    img.src = "static/images/list/listDiscount/" + name + i + "img.png"
                }
            },
            load1() {
                var len = this.listBoxItem[0].len
                var name = this.listBoxItem[0].name
                this.load(len, name, this.load2)
            },
            load2(len, name) {
                var len = this.listBoxItem[1].len
                var name = this.listBoxItem[1].name
                this.load(len, name, this.load3)
            },
            load3(len, name) {
                var len = this.listBoxItem[2].len
                var name = this.listBoxItem[2].name
                this.load(len, name, this.maodian)
            },
            maodian() {
                this.isload = true
                if (this.$route.query.way) {
                    switch (this.$route.query.way) {
                        case '75':
                            window.scrollTo(0, document.querySelector('.listBox').offsetTop + document
                                .querySelector('.gml').offsetTop)
                            break;
                        case '8':
                            window.scrollTo(0, document.querySelector('.listBox').offsetTop + document
                                .querySelector('.pmw').offsetTop)
                            break;
                        case 'tiyan':
                            window.scrollTo(0, document.querySelector('.listBox').offsetTop + document
                                .querySelector('.sxw').offsetTop)
                            break;
                    }
                }
            },
            backHome() {
                this.$router.go(-1)
            },
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (vm.isload) {
                    vm.maodian()
                }
            })
        },
    }
</script>