.p2 {
    height: auto;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    .title {
        width: 443/100+rem;
        top: 155/100+rem;
    }
    .leftImg {
        width: 84/100+rem;
        top: 870/100+rem;
        left: 0;
        z-index: 5;
    }
    .gifbox {
        width: 589/100+rem;
        top: 390/100+rem;
        .gifimg {
            width: 503/100+rem;
            top: 52/100+rem;
            left: 40/100+rem;
        }
        .gifboxBtn {
            width: 97/100+rem;
            bottom: -97/2/100+rem;
        }
    }
    .p2gifUrl {
        display: none;
        width: 100%;
        top: 380/100+rem;
        left: 0;
    }
    .gifboxBtn {
        width: 1rem;
        height: 1rem;
        top: 850/100+rem;
        z-index: 1;
    }
    .p2_list {
        top: 1020/100+rem;
        .title2 {
            // width: 253/100+rem;
            width: 645/100+rem;
        }
        .p2List {
            margin-top: 80/100+rem;
        }
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 595/100+rem;
            height: 125/100+rem;
            border-top: 1px solid #616161;
            &:nth-child(1) {
                border-top: 0;
            }
            span:nth-child(1) {
                width: 90/100+rem;
            }
            span:nth-child(2) {
                width: 420/100+rem;
            }
        }
        i {
            width: 30/100+rem;
            height: 30/100+rem;
            margin-right: 5px;
            transform: rotate(45deg);
            border: 1px solid #ffffff;
            border-bottom: transparent;
            border-left: transparent;
        }
    }
}