<template>
    <div class="page p2">

        <div class="rel">
            <img src="static/images/p2/bg1.jpg" alt="">
        </div>
        <div class="abs center title">
            <img src="static/images/p2/title2.png" alt="">
        </div>
        <div class="abs leftImg">
            <img src="static/images/p2/leftImg.png" alt="">
        </div>

        <div class="abs center gifbox">
            <img src="static/images/p2/gifboxBg.png" alt="">
            <!-- <div class="abs gifimg">
                <img src="@/images/p2/box/img.png" alt="">
            </div> -->

            <!-- <div @click="gotoQiyu" class="abs center gifboxBtn">
                <img src="@/images/p2/btn_list.png" alt="">
            </div> -->
        </div>

        <div @click="gotoQiyu" class="abs center gifboxBtn"></div>
        <img ref="p2gif" class="abs p2gifUrl" :src="p2gifUrl" rel:auto_play="0" />

        <div class="abs center p2_list">
            <div class="abs center title2">
                <img src="static/images/p2/title2Bg.png" alt="">
            </div>
            <ul class="rel mcenter p2List">
                <li @click="gotoDiscount($event)" data-way="75">
                    <span>
                        <img src="@/images/p2/icon_six.png" alt="">
                    </span>
                    <span>
                        <img src="@/images/p2/txt_75.png" alt="">
                    </span>
                    <i></i>
                </li>
                <li @click="gotoDiscount($event)" data-way="8">
                    <span>
                        <img src="@/images/p2/icon_wineglass.png" alt="">
                    </span>
                    <span>
                        <img src="@/images/p2/txt_8.png" alt="">
                    </span>
                    <i></i>
                </li>
                <li @click="gotoDiscount($event)" data-way="tiyan">
                    <span>
                        <img src="@/images/p2/icon_five.png" alt="">
                    </span>
                    <span>
                        <img src="@/images/p2/txt_tiyan.png" alt="">
                    </span>
                    <i></i>
                </li>
            </ul>
        </div>




    </div>
</template>


<style lang="scss" scoped src="./p2.scss"></style>

<script>
    import SuperGif from 'jsgif';
    export default {
        name: 'p2',
        data() {
            return {
                p2gifUrl: 'static/images/p2/p2gif3.gif',
                isgifPlay: false,
            }
        },
        mounted() {
            this.usegif()


            this._GLOBAL.eventBus.$on('slide2p2play', () => {
                if (!this.isgifPlay) {
                    this.isgifPlay = true
                    this.sup1.play()
                }
            })
            this._GLOBAL.eventBus.$on('slide2p2pause', () => {
                if (this.isgifPlay) {
                    this.isgifPlay = false
                    this.sup1.pause()
                }
            })
        },
        methods: {
            gotoQiyu() {
                // this.Utils.$router.push('listDiscount')
                this.$router.push('listQiyu')
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Offer', 'click_IncentiveList_Airlines']);

                // if (!this.isgifPlay) {
                //     this.isgifPlay = true
                //     this.sup1.play() //执行gif
                // } else {
                //     this.$router.push('listQiyu')
                // }
            },
            gotoDiscount(e) {
                let _way = ''

                switch (e.currentTarget.getAttribute('data-way')) {
                    case '75':
                        _way = '75'
                        _smq.push(['custom', 'Jewel wave 2 campaign', 'Offer', 'click_DiscountList_Beatuty']);
                        break;
                    case '8':
                        _way = '8'
                        _smq.push(['custom', 'Jewel wave 2 campaign', 'Offer', 'click_DiscountList_Dinning']);
                        break;
                    case 'tiyan':
                        _way = 'tiyan'
                        _smq.push(['custom', 'Jewel wave 2 campaign', 'Offer', 'click_DiscountList_Tickets']);
                        break;
                }

                this.$router.push({
                    name: 'listDiscount',
                    query: {
                        way: _way
                    }
                })
            },
            usegif() {
                var img = new Image()
                img.onload = (e) => {
                    this.sup1 = new SuperGif({
                        gif: this.$refs.p2gif,
                        on_end: () => {
                            // console.log('--load')
                            this.sup1.pause();
                            // this.$router.push('listDiscount')

                        },
                    });
                    this.sup1.load((e) => {
                        document.querySelector('.jsgif').style.display = 'block'

                        document.querySelector('.jsgif').addEventListener('click', () => {
                            this.gotoQiyu()
                        })
                    });
                }
                img.src = this.p2gifUrl
            },
            checkPostion() {

            }
        },
    }
</script>