.p1 {
    height: auto;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    .title {
        width: 399/100+rem;
        top: 105/100+rem;
    }
    .p1_list {
        width: 100%;
        // height: 725/100+rem;
        height: 1165/100+rem;
        margin-top: -70/100+rem;
        border-radius: 6% 6% 0 0;
        box-shadow: 0px -3px 10px #7f7b7b;
        background: #e4e4e4;
        overflow: hidden;
        .title2 {
            width: 422/100+rem;
            margin-top: 40/100+rem;
        }
    }
    .left_i {
        width: 40/100+rem;
        height: 50/100+rem;
        top: 190/100+rem;
        left: -20/100+rem;
        border-radius: 50%;
        background: #599176;
    }
    .right_i {
        width: 40/100+rem;
        height: 50/100+rem;
        top: 190/100+rem;
        right: -20/100+rem;
        border-radius: 50%;
        background: #599176;
    }
    .title2_1 {
        width: 606/100+rem;
        margin-top: 50/100+rem;
    }
    .title2_2 {
        width: 506/100+rem;
        margin-top: 80/100+rem;
    }
    .airList {
        width: 595/100+rem;
        margin-top: 55/100+rem;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 595/100+rem;
            height: 125/100+rem;
            border-top: 1px solid #d2d2d2;
        }
        span {
            width: 450/100+rem;
        }
        i {
            width: 30/100+rem;
            height: 30/100+rem;
            margin-right: 5px;
            transform: rotate(45deg);
            border: 1px solid #727272;
            border-bottom: transparent;
            border-left: transparent;
        }
    }
}