<template>
    <div class="page p1">
        <div class="rel">
            <img src="static/images/p1/bg1.jpg" alt="">
        </div>
        <div @click="p1Url" class="abs center title">
            <img src="static/images/p1/title1.png" alt="">
        </div>

        <div class="rel p1_list">

            <i class="abs left_i"></i>
            <i class="abs right_i"></i>

            <div class="abs center">

                <div class="rel mcenter title2_1">
                    <img src="static/images/p1/title_1.png" alt="">
                </div>
                <div class="rel mcenter title2_2">
                    <img src="static/images/p1/title_2.png" alt="">
                </div>
                <ul class="rel mcenter airList">
                    <li @click="p1list1">
                        <span>
                            <img src="@/images/p1/guohang2.png" alt="">
                        </span>
                        <i></i>
                    </li>
                    <li @click="p1list2">
                        <span>
                            <img src="@/images/p1/dongfang.png" alt="">
                        </span>
                        <i></i>
                    </li>
                    <li @click="p1list3">
                        <span>
                            <img src="@/images/p1/nanfang.png" alt="">
                        </span>
                        <i></i>
                    </li>
                    <li @click="p1list4">
                        <span>
                            <img src="@/images/p1/xiamen.png" alt="">
                        </span>
                        <i></i>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</template>


<style lang="scss" scoped src="./p1.scss"></style>

<script>
    export default {
        name: 'p1',
        data() {
            return {}
        },
        methods: {
            p1Url() {
                window.open('http://cn.changiairport.com/jewel-wave2-enroll.html')
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link to_Enroll_Page']);

            },
            p1list1() {
                window.open('https://m.airchina.com.cn/ac/c/invoke/qryFlights@pg')
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link out_Airchina_Airlines']);

            },
            p1list2() {
                window.open('https://m.ceair.com/')
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link out_Eastern_Airlines']);

            },
            p1list3() {
                window.open('https://m.csair.com/booking_new/')
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link out_ Southern_Airlines']);

            },
            p1list4() {
                window.open('https://www.xiamenair.com/zh-cn/nticket.html')
                _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link out_Xiamen_Airlines']);

            },

        },
    }
</script>