.p3 {
    height: auto;
    background: #599574;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    .title {
        width: 393/100+rem;
        top: 120/100+rem;
    }
    .teamBox {
        width: 640/100+rem;
        height: 1036/100+rem;
        top: 300/100+rem;
        border-radius: 10px;
        background: #d8ddda;
        .left_list {
            width: 53/100+rem;
            left: -53/100+rem;
            top: 52/100+rem;
            li {
                margin-top: -70/100+rem;
                &.active {
                    z-index: 2;
                }
                span {
                    display: block;
                    width: 25/100+rem;
                    // bottom: 35/100+rem;
                }
            }
            li:nth-child(1) {
                margin-top: 0;
                // z-index: 5;
                span {
                    // bottom: auto;
                }
            }
            li:nth-child(2) {
                // z-index: 4;
            }
            li:nth-child(3) {
                // z-index: 3;
            }
            li:nth-child(4) {
                // z-index: 2;
            }
            li:nth-child(4) {
                // z-index: 1;
            }
        }
        .tiyan_title {
            width: 313/100+rem;
            margin-left: 0.2rem;
        }
        .tiyan_video {
            width: 578/100+rem;
            overflow: hidden;
            iframe {
                width: 4.95rem;
                height: 2.55rem;
                top: 0.9rem;
                left: 150%;
            }
            iframe.active {
                left: 50%;
            }
        }
        .title2 {
            width: 355/100+rem;
            margin-top: 0.3rem;
        }
        .tiyan_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 580/100+rem;
            margin-top: 0.3rem;
            li {
                width: 186/100+rem;
            }
        }
    }
    .lijibaoming {
        width: 377/100+rem;
        top: 1390/100+rem;
    }
    .rules {
        width: 221/100+rem;
        top: 1485/100+rem;
        // bottom: 40/100+rem;
    }
}