<template>
    <div class="page p3">

        <div class="rel">
            <img src="static/images/p3/bg1.jpg" alt="">
        </div>
        <div class="abs center title">
            <img src="@/images/p3/title.png" alt="">
        </div>
        <div class="abs center teamBox">
            <ul class="abs left_list">
                <li v-for="(item,index) in teamBoxList" :key="index" @click="changeTeam(index,item)" :data-name="item"
                    :class="['rel',item==teamBoxChs?'active':'']">
                    <!-- <img :src="`static/images/p3/left`+(index+1)+`.png`" alt=""> -->
                    <img v-if="item==teamBoxChs" src="static/images/p3/left_on.png" alt="">
                    <img v-else src="static/images/p3/left_off.png" alt="">
                    <span class="abs center centerh">
                        <img :src="`static/images/p3/`+item+`_name.png`" alt="">
                    </span>
                </li>
            </ul>
            <div class="rel tiyan_title">
                <img :src="`static/images/p3/`+teamBoxChs+`_title.png`" alt="">
            </div>
            <div @click="playVideo" class="rel mcenter tiyan_video">
                <img :src="`static/images/p3/`+teamBoxChs+`_video.png`" alt="">

                <iframe :class="['abs center',{active:iframeShow}]" frameborder="0"
                    :src="`https://v.qq.com/txp/iframe/player.html?vid=`+ teamtxUrl" allowFullScreen="true"></iframe>
            </div>
            <div class="rel mcenter title2">
                <img src="@/images/p3/title2.png" alt="">
            </div>
            <ul class="rel mcenter tiyan_list">
                <li @click="chsa"><img :src="`static/images/p3/`+teamBoxChs+`_chs_a.png`" alt=""></li>
                <li @click="chsb"><img :src="`static/images/p3/`+teamBoxChs+`_chs_b.png`" alt=""></li>
                <li @click="chsc"><img :src="`static/images/p3/`+teamBoxChs+`_chs_c.png`" alt=""></li>
            </ul>
        </div>
        <div @click="baoming" class="abs center lijibaoming">
            <img src="static/images/p3/lijibaoming.png" alt="">
        </div>
        <div @click="showRule" class="abs center rules">
            <img src="@/images/p3/rules.png" alt="">
        </div>
    </div>
</template>


<style lang="scss" scoped src="./p3.scss"></style>

<script>
    export default {
        name: 'p3',
        data() {
            return {
                isIOS: /iphone/gi.test(navigator.userAgent) && (this._GLOBAL.device.wechat || this._GLOBAL.isDevtools),

                teamBoxChs: 'xiaofengzi',
                teamBoxList: ['xiaofengzi', 'lijiahang'],
                teamBoxChsUrl: {
                    'xiaofengzi': [
                        'http://cn.changiairport.com/dining/restaurant_189.html',
                        'http://cn.changiairport.com/attractions/attraction_005.html',
                        'http://cn.changiairport.com/attractions/attraction_007.html',
                    ],
                    'lijiahang': [
                        'http://cn.changiairport.com/JewelChangiAirport.html',
                        'http://cn.changiairport.com/attractions/attraction_040.html',
                        'http://cn.changiairport.com/shopping/store_299.html',
                    ],
                },
                teamtxUrl: 'f086847p44o', //tx视频引用
                teamtxUrlBox: {
                    'xiaofengzi': 'f086847p44o',
                    'lijiahang': 'p0868a6xvg5',
                },
                iframeShow: false,
            }
        },
        mounted() {
            if (/iphone/gi.test(navigator.userAgent)) {
                document.querySelector('.p3').style.paddingBottom = '80px'
            }
        },
        methods: {
            changeTeam(index, item) {
                if (item == this.teamBoxChs) return
                this.teamBoxList.map((_item, _index) => {
                    if (_item == item) {
                        this.teamBoxChs = this.teamBoxList[_index]
                            //所选排第一位
                            // this.teamBoxList.splice(_index, 1)
                            // this.teamBoxList.unshift(_item)
                        this.iframeShow = false
                        this.teamtxUrl = this.teamtxUrlBox[_item]
                        if (this.isIOS) {
                            document.querySelector('.p3').style.paddingBottom = '80px'
                        }
                    }
                })

                if (item == 'xiaofengzi') {
                    _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'Click_XiaoFengZi']);
                } else if (this.teamBoxChs == 'lijiahang') {
                    _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'Click_LiJiaXun']);
                }
            },
            playVideo() {
                this.iframeShow = true
            },
            chsa() {
                window.open(this.teamBoxChsUrl[this.teamBoxChs][0])
                this.track_admaster('chsa')
            },
            chsb() {
                window.open(this.teamBoxChsUrl[this.teamBoxChs][1])
                this.track_admaster('chsb')
            },
            chsc() {
                window.open(this.teamBoxChsUrl[this.teamBoxChs][2])
                this.track_admaster('chsc')
            },
            baoming() {
                window.open('http://cn.changiairport.com/jewel-wave2-enroll.html')
            },
            showRule() {
                window.open('http://cn.changiairport.com/jewel-wave2-tc.html?v=1')
                this.track_admaster('showRule')
            },
            track_admaster(way) {

                switch (way) {
                    case 'chsa':
                        if (this.teamBoxChs == 'xiaofengzi') {
                            _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link to_KOL_Tiger Lab']);
                        } else if (this.teamBoxChs == 'lijiahang') {
                            _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link to_KOL_Rain_Vortex']);
                        }
                        break;
                    case 'chsb':
                        if (this.teamBoxChs == 'xiaofengzi') {
                            _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation',
                                'link to_KOL_Butterfly_Garden'
                            ]);
                        } else if (this.teamBoxChs == 'lijiahang') {
                            _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link to_KOL_Heritage_Zone']);
                        }
                        break;
                    case 'chsc':
                        if (this.teamBoxChs == 'xiaofengzi') {
                            _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link to_KOL_Social_Tree']);
                        } else if (this.teamBoxChs == 'lijiahang') {
                            _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'link to_KOL_Naiise_Iconic']);
                        }
                        break;
                    case 'showRule':
                        _smq.push(['custom', 'Jewel wave 2 campaign', 'Activation', 'click_rule']);
                        break;
                }
            }

        },
    }
</script>