<template>
    <div style="height: 100%;">

        <load ref="load" class="abs loadBox" v-on:listenloadevent="showMsgFromload"></load>
        <entry_box ref="entry_box"></entry_box>

    </div>

</template>

<style lang="scss" scoped>
    .loadBox {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
</style>

<script type="text/javascript">
    import load from '@/pages/load/load.vue'
    import entry_box from '@/pages/entryBox/entryBox.vue'

    // import floatinglayer from "../components/FloatingLayer.vue"

    export default {
        name: 'entry',
        components: {
            load,
            entry_box,
        },
        data() {
            return {
                hackReset: false,
            }
        },
        created() {},
        computed: {

        },
        activated() {
            //路由切换停止播放
            this._GLOBAL.eventBus.$emit('videopause')
        },
        mounted() {
            this.onInit();

            // this.$refs.load.$emit('loadprogress', 10)
        },
        methods: {
            onInit() {

            },
            updateView() {
                this.hackReset = false;
                this.$nextTick(() => {
                    this.hackReset = true
                })
            },
            showMsgFromload() {
                this.Utils.$An.fadeOut(this.$refs.load.$el)
                this.$refs.entry_box.$emit('isload', true)

                document.querySelector('.swiper-slide1').style.background = '#000'
            },
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                // setTimeout(() => {
                vm.$nextTick(() => {
                        if (from.name == 'listQiyu' || from.name == 'listDiscount') {
                            document.querySelector('.swiper-slide2').scrollTo(0, document.querySelector(
                                '.p2').offsetTop)
                        }
                    })
                    // }, 300)
            })
        },
    }
</script>