<template>
    <!-- <div class="fcBoxBg"> -->
    <div v-show="fcShow" ref="changefcShow">
        <div class="fcBox" @click="cancelFc">

            <div v-if="showPanel == 'needQueren'" class="needQueren" :data-panel="showFcImg.fcName">
                <div class="rel fcPanel" @click.stop="">
                    <div class="needQueren_fcImg1">
                        <img :src="showFcImg.fcImg1" alt="">
                    </div>
                    <p class="needQueren_txt1">您已回收了 <span ref="needQueren_nums"></span> 个空瓶<br />为保卫地球环境贡献了自己的力量</p>
                    <div class="needQueren_fcImg2">
                        <img :src="showFcImg.fcImg2" alt="">
                    </div>
                    <p class="needQueren_txt2">将获得 <span ref="needQueren_codes"></span> 积分</p>
                    <div class="abs center needQueren_fcImg3">
                        <img :src="showFcImg.fcImg3" @click="closeFc" alt="">
                    </div>
                </div>
            </div>
            <div v-if="showPanel == 'getSuccess'" class="getSuccess">
                <div class="rel fcPanel" @click.stop="">
                    <div class="getSuccess_fcImg1">
                        <img :src="showFcImg.fcImg1" alt="">
                    </div>
                    <p class="getSuccess_txt1">回收成功！</p>
                    <div class="getSuccess_fcImg2">
                        <img :src="showFcImg.fcImg2" alt="">
                    </div>
                    <p class="getSuccess_txt2">积分将于3个工作日内到账。<br />可至兰蔻微信“我的会员卡-会员中心-<br />积分兑礼”查看。</p>
                    <div class="abs center getSuccess_fcImg3">
                        <img :src="showFcImg.fcImg3" @click="closeFc" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</template>

<style scoped>
    .abs {
        position: absolute;
    }
    
    .fcBox {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    
    .fcPanel {
        width: 6.25rem;
        height: 5.6rem;
        border-radius: 15px;
        background: #fff;
    }
    
    .needQueren p,
    .getSuccess p {
        font-size: 0.36rem;
        line-height: 1.8;
    }
    
    .needQueren_fcImg1,
    .getSuccess_fcImg1 {
        width: .81rem;
        margin: 0 auto;
        padding: .25rem 0 0.1rem;
    }
    
    .needQueren_fcImg2,
    .getSuccess_fcImg2 {
        width: 5.54rem;
        margin: 0 auto;
        padding: 0.2rem;
    }
    
    .needQueren_fcImg3,
    .getSuccess_fcImg3 {
        width: 2.92rem;
        bottom: 0.6rem;
    }
    
    .getSuccess .getSuccess_txt2 {
        font-size: 0.3rem;
    }
</style>

<script>
    export default {
        name: 'floatinglayer',
        data() {
            return {
                fcShow: false, //初始浮层不显示 测试时打开
                showFcImg: {},
                showPanel: '',
                showFcImgItems: {
                    'needQueren': {
                        fcName: 'needQueren',
                        fcImg1: require("../images/fc_img.png"),
                        fcImg2: require("../images/line.png"),
                        fcImg3: require("../images/queren.png"),
                    },
                    'getSuccess': {
                        fcName: 'getSuccess',
                        fcImg1: require("../images/fc_img.png"),
                        fcImg2: require("../images/line.png"),
                        fcImg3: require("../images/queren.png"),
                    }
                },
                battle: {
                    num: 0,
                    code: 0,
                    maxCode: 1000
                }
            }
        },
        mounted() {
            this.$on('show', (dataArr) => {
                const data = dataArr[0]
                const battleNum = dataArr[1] * 1
                if (battleNum) {
                    if (typeof battleNum == 'number') {
                        this.battle.num = battleNum
                        this.battle.code = battleNum * 200
                    } else {
                        console.warn('layerPanel error>>>show', dataArr)
                        return
                    }
                }

                if (this.showFcImgItems.hasOwnProperty(data)) {
                    this.showPanel = data
                    this.showFcImg = this.showFcImgItems[data]
                    this.$nextTick(() => {
                        this.showFc();
                        if (battleNum) {
                            this.$refs.needQueren_nums.innerText = this.battle.num
                            this.$refs.needQueren_codes.innerText = this.battle.code <= this.battle
                                .maxCode ? this.battle.code : this.battle.maxCode
                        }
                    })
                } else {
                    console.warn('layerPanel error>>>show', data)
                }
            })
        },
        methods: {
            cancelFc() {
                this.Utils.$An.fadeOut(this.$refs.changefcShow)
            },
            showFc() {
                this.Utils.$An.fadeIn(this.$refs.changefcShow)
            },
            closeFc() {
                if (this.showFcImg.fcName == 'needQueren') {
                    this.$emit('listenfloatinglayerevent', [this.showFcImg.fcName, 'done']);
                } else {
                    this.Utils.$An.fadeOut(this.$refs.changefcShow, {
                        callback: () => {
                            this.$emit('listenfloatinglayerevent', [this.showFcImg.fcName, 'done']);
                        }
                    })
                }
            }
        }
    }
</script>