<template>
    <div class="page pageBox">
        <div class="rel ctx">
            <p1></p1>
            <p2></p2>
            <p3></p3>
        </div>

    </div>
</template>


<style lang="scss" scoped src="./pageBox.scss"></style>


<script>
    import p1 from '@/pages/p1/p1.vue'
    import p2 from '@/pages/p2/p2.vue'
    import p3 from '@/pages/p3/p3.vue'
    export default {
        name: 'longPage',
        components: { //组件
            p1,
            p2,
            p3,
        },
        data() {
            return {

            }
        },
        created() {

        },
        computed: {

        },
        mounted() {
            this.onInit();

        },
        methods: {
            onInit() {},
        },
        destroyed() {},
    }
</script>