<template>
    <div v-if="isvideoposter" :class="['abs video_poster ', longscreen?'longscreen':'']">
        <img src="static/images/v/bg1.jpg" alt="">
        <div class="abs center video_poster_title">
            <img src="static/images/v/poster_title.png" alt="">
        </div>
        <v_poster v-on:listenvposterevent="showMsgFromvposter"></v_poster>
    </div>

</template>


<style lang="scss" scoped>
    .video_poster {
        /* top: 0; */
        margin-top: -.4rem;
        z-index: 5;
        &.longscreen {
            margin-top: 0;
        }
        .video_poster_title {
            width: 100%;
            top: 100/100+rem;
        }
    }
</style>

<script>
    import v_poster from '@/pages/vPoster/vPoster.vue'
    export default {
        name: 'vPoster',
        components: {
            v_poster,
        },
        data() {
            return {
                isvideoposter: true,
                longscreen: this._GLOBAL.screenScale.islongscreen,
            }
        },
        methods: {
            showMsgFromvposter(data) {
                if (data == 'play') {
                    this.isvideoposter = false
                    this._GLOBAL.eventBus.$emit('videoposterend')
                        // return
                        // this.play()
                }
            },
        },
    }
</script>