<template>
    <div ref="tipBox" :class="['abs tipBox',longscreen?'longscreen':'']" @touchstart="tipBoxTouchstart"
        @touchmove="tipBoxTouchmove" @touchend="tipBoxTouchend">
        <img ref="poster_line" src="static/images/v/poster_line2.png" alt="">
        <div ref="flyImg" class="abs flyImg">
            <img src="static/images/v/poster_fly.png" alt="">
        </div>
        <div ref="poster_txt" class="abs txt">
            <img src="static/images/v/poster_txt.png" alt="">
        </div>
    </div>

</template>


<style lang="scss" scoped src="./vPoster.scss"></style>

<script>
    export default {
        name: 'vPoster',
        data() {
            return {
                longscreen: this._GLOBAL.screenScale.islongscreen,
            }
        },
        methods: {
            tipBoxTouchstart(e) {
                this.touchStart_x = e.targetTouches[0].pageX;

                this.Utils.$An.fadeOut(this.$refs.poster_txt)
                this.linelimit_width = parseInt(this.Utils.$Dom.getStyle(this.$refs.poster_line, 'width'))
                this.flyImg_width = parseInt(this.Utils.$Dom.getStyle(this.$refs.flyImg, 'width'))
            },
            tipBoxTouchmove(e) {
                this.touchCurrent_x = e.targetTouches[0].pageX;

                var changeX = this.touchCurrent_x - this.touchStart_x


                if (changeX >= 0 && (changeX + this.flyImg_width) <= this.linelimit_width) {
                    this.$refs.flyImg.style.transform = 'translateX(' + changeX + 'px)'
                }
            },
            tipBoxTouchend(e) {
                var changeX = this.touchCurrent_x - this.touchStart_x + this.flyImg_width
                if (changeX >= this.linelimit_width) {
                    // console.log(changeX)
                    setTimeout(() => {
                        this.$emit('listenvposterevent', 'play')

                        var scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
                        document.querySelector('.swiper-slide1').scrollTo(0, Math.max(scrollHeight - 1, 0));

                        _smq.push(['custom', 'Jewel wave 2 campaign', 'home page', 'click_enter']);
                        _smq.push(['custom', 'Jewel wave 2 campaign', 'Scroll Down', 'P2']);


                    }, 500)
                } else {
                    this.$refs.flyImg.style.transform = 'translateX(0)'

                    this.Utils.$An.fadeIn(this.$refs.poster_txt)
                }
            },
        },
    }
</script>