.tipBox {
    width: 459/100+rem;
    top: 11.1rem; //ipx 12.2rem
    // bottom: 90/100+rem;
    left: 50%;
    transform: translate3d(-50%, 0, 0) scale3d(1.2, 1.2, 1.2);
    transform-origin: center;
    font-size: 0;
    overflow: hidden;
}

.tipBox.longscreen {
    top: 12.2rem;
}

.flyImg {
    width: 81/100+rem;
    top: 3/100+rem;
    left: 3/100+rem;
}

.txt {
    width: 307/100+rem;
    top: 30/100+rem;
    left: 110/100+rem;
}