<template>
    <div class="page listQiyu">
        <div class="rel ctx">
            <div class="abs ">
                <img src="static/images/list/bg.jpg" alt="">
            </div>
            <div class="abs tipsTime">
                <img src="static/images/list/tips_time.png" alt="">
            </div>
            <div class="abs center title">
                <img src="static/images/list/qiyu_title.png" alt="">
            </div>
            <div @click="backHome" class="abs backBtn">
                <img src="static/images/list/backBtn.png" alt="">
            </div>
            <div class="rel listBox">
                <div v-for="(item,index) in listBoxItem" :key="index" class="rel list_item">
                    <div class="rel list_item_title">
                        <img :src="`static/images/list/`+item.name+`.png`" alt="">
                    </div>
                    <div v-for="(_item,_index) in item.len" :key="_index" class="rel mcenter list_item_list">
                        <div class="rel list_item_img">
                            <img :src="`static/images/list/listQiyu/`+item.name+_index+`img.png?v=1`" alt="">
                        </div>
                        <!-- <div class="abs list_item_tip">
                            <img :src="`static/images/list/listQiyu/`+item.name+_index+_item.name[1]+`.png`" alt="">
                        </div>
                        <div class="rel list_item_txt">
                            <img :src="`static/images/list/listQiyu/`+item.name+_index+_item.name[2]+`.png`" alt="">
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>


<style lang="scss" scoped src="./listQiyu.scss"></style>

<script>
    export default {
        name: 'listQiyu',
        data() {
            return {
                listBoxItem: [{
                    name: 'mff',
                    len: 4,
                    img: [{
                        name: ['img'],
                    }]
                }, {
                    name: 'sxw',
                    len: 6,
                }, {
                    name: 'gml',
                    len: 14,
                }, {
                    name: 'pmw',
                    len: 15,
                }]
            }
        },
        methods: {
            backHome() {
                this.$router.go(-1)
            },
        },
        beforeRouteLeave(to, from, next) {
            // 设置下一个路由的 meta
            to.meta.isLoad = true;
            next();
        },
    }
</script>