.listQiyu {
    height: auto;
    background: #434343;
    .tipsTime {
        width: 371/100+rem;
        top: 45/100+rem;
        left: 45/100+rem;
    }
    .title {
        width: 603/100+rem;
        top: 134/100+rem;
    }
    .backBtn {
        position: fixed;
        width: 133/100+rem;
        top: 12/100+rem;
        right: 12/100+rem;
        z-index: 5;
    }
    .listBox {
        // top: (243-20)/100+rem;
        padding-top: 270/100+rem;
        .list_item {
            // margin-top: 20/100+rem;
            padding-bottom: 80/100+rem;
            &:last-child {
                padding-bottom: 200/100+rem;
            }
        }
        .list_item_title {
            width: 230/100+rem;
            margin-left: 40/100+rem;
            // padding-top: 80/100+rem;
        }
        .list_item_list {
            display: flex;
            width: 670/100+rem;
            margin-top: 30/100+rem;
            border-radius: 10px;
        }
    }
    // .listBox {
    //     top: (243-20)/100+rem;
    //     .list_item {
    //         margin-top: 20/100+rem;
    //     }
    //     .list_item_title {
    //         width: 230/100+rem;
    //     }
    //     .list_item_list {
    //         display: flex;
    //         width: 670/100+rem;
    //         margin-top: 30/100+rem;
    //         border-radius: 10px;
    //         background: #ffffff;
    //         overflow: hidden;
    //         .list_item_img {
    //             width: 305/100+rem;
    //         }
    //         .list_item_tip {
    //             width: 102/100+rem;
    //             top: 0;
    //             right: 0;
    //         }
    //         .list_item_txt {
    //             width: 300/100+rem;
    //             margin-left: 45/100+rem;
    //             margin-top: 45/100+rem;
    //         }
    //     }
    // }
}