<template>
    <div style="height:100%;">
        <!-- <router-view /> -->
        <keep-alive>
            <router-view v-if="$route.meta.keepAlive" />
        </keep-alive>
        <router-view v-if="!$route.meta.keepAlive" />

        <!-- rotateMask -->
        <div class="rotateMaskBox">
            <div class="rotateMaskImg"></div>
        </div>

    </div>
</template>
<script>
    import {
        swiper,
        swiperSlide
    } from 'vue-awesome-swiper'

    export default {
        components: {
            swiper,
            swiperSlide,
        },
        mounted() {
            if (this._GLOBAL.device.wechat) {
                // this.wxShare()
            }

        },
        methods: {

        },
    }
</script>