.page {
    // height: auto;
}

video,
canvas {
    width: 100%;
    height: 100%;
}

.videoBgBox {
    width: 100%;
    // height: 100%;
    // top: 50%;
    // left: 50%;
    // transform: translate3d(-50%, -50%, 0);
    // overflow: hidden;
}

$video_height:422;
$videoBox_top:200;
.videoBox {
    width: 100%;
    // height: 100%;
    // height: $video_height/100+rem;
    // top: $videoBox_top*2/100+rem;
    // margin-top: -$videoBox_top/100+rem;
    background: #000;
    // overflow: hidden;
}

.video_load {
    position: absolute;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    background: #000;
}

.video_poster {
    top: 0;
    // .tipBox {
    //     width: 669/100+rem;
    //     top: 920/100+rem;
    // }
    .video_poster_title {
        width: 100%;
        top: 100/100+rem;
    }
}

.videoBgMask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
}

.video {
    z-index: 10;
}

.playBtn {
    width: 110/100+rem;
    bottom: 80/100+rem;
}

.playBtnTxt {
    width: 178/100+rem;
    bottom: 40/100+rem;
}

.voiceBox {
    width: 60/100+rem;
    top: 35/100+rem;
    left: 35/100+rem;
    &.on {
        animation: myrotate 5s linear infinite;
    }
}

@keyframes myrotate {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}