<template>
    <div class="page video">
        <div class="rel ctx">

            <div ref="videoBgBox" class="abs videoBgBox">
                <div ref="videoBgMask" class="abs videoBgMask"></div>

                <div ref="videoBox" class="rel videoBox">

                    <div v-if="isIOS">
                        <video ref="video" class="video" :data-index="videoIndex" playsinline="" :loop="isvideoLoop"
                            webkit-playsinline="true" x5-playsinline="" x5-video-player-type="h5"
                            x5-video-player-fullscreen="true" x-webkit-airplay="true" preload="auto"
                            :src="videoSrc"></video>
                    </div>
                    <div v-else>
                        <canvas ref="anvideo" class="video" :width="canvasW" :height="canvasH"></canvas>
                    </div>

                    <div v-if="!video_isLoad && !video_isPlay" ref="video_load" class="video_load">
                        <!-- loading -->
                        <!-- <img src="/images/video_poster.jpg" alt=""> -->
                    </div>
                    <div v-else-if="video_isLoad && !video_isPlay" ref="video_load_done"
                        class="video_load video_load_done">
                        <!-- <img src="/images/video_poster.jpg" alt=""> -->
                    </div>


                    <div :class="['abs voiceBox',voice_state.state?'on':'off']" @click="changeVoice">
                        <!-- <img v-show="voice_state.state==1" :src="voice_state.imgurl[0]" alt=""> -->
                        <!-- <img v-show="voice_state.state==0" :src="voice_state.imgurl[1]" alt=""> -->
                        <img :src="voice_state.imgurl[voice_state.state]" alt="">
                    </div>
                    <!-- <div v-if="isvideoposter" class="abs video_poster">
                        <img src="static/images/v/bg.jpg" alt="">
                        <div class="abs center video_poster_title">
                            <img src="static/images/v/poster_title.png" alt="">
                        </div>
                    </div>
                    <v_poster v-if="isvideoposter" v-on:listenvposterevent="showMsgFromvposter"></v_poster> -->

                </div>
                <div ref="playBtn" @click="nextBtn" class="abs center playBtn" style="display: none;">
                    <img src="@/images/video_arrow.png" alt="">
                </div>
                <div ref="playBtnTxt" class="abs center playBtnTxt" style="display: none;">
                    <img src="@/images/video_arrow_txt.png" alt="">
                </div>
            </div>

        </div>

        <audio ref="anvideoMusic" :src="anvideoMusicSrc"></audio>
    </div>
</template>

<style lang="scss" scoped src="./v.scss"></style>

<script>
    import JSMpeg from "jsmpeg-player";
    // import v_poster from '@/pages/vPoster/vPoster.vue'


    export default {
        name: "v",
        components: {
            // v_poster,
        },
        data() {
            return {
                isIOS: /iphone/gi.test(navigator.userAgent) && (this._GLOBAL.device.wechat || this._GLOBAL.isDevtools),

                videoIndex: "1",

                videoSrc: "static/media/0628.mp4",
                anvideoSrc: "static/media/0628.ts",
                anvideoMusicSrc: require("@/media/anvideo.mp3"),
                video_isLoad: false,
                video_isPlay: false,
                isvideoLoop: true,
                isvideoAutoPlay: false,
                videoEle: "video",
                anvideoEle: "anvideo",
                anvideoMusicEle: "anvideoMusic",
                anvideoPoster: false ? require("@/images/xx.jpg") : false,

                voice_state: {
                    state: 1,
                    imgurl: [require('@/images/voice_off.png'), require('@/images/voice_on.png')]
                },

                canvasW: "750",
                canvasH: "422",

                canPlay: false, //fix visibilitychange play
                isvideoposter: true,

                isShow_changeBtn: true,
                isShow_changebackBtn: false
            };
        },
        mounted() {
            this.onInit();

            this._GLOBAL.eventBus.$on("videopause", () => {
                this.pause();
            });
            this._GLOBAL.eventBus.$on("videoplay", () => {
                this.play();
            });
            this.$on("videopause", () => {
                this.pause();
            });
            this.$on("videoplay", () => {
                this.play();
            });
        },
        methods: {
            onInit() {
                this.initPlayer();

            },
            showMsgFromvposter(data) {
                if (data == 'play') {
                    this.play()
                    this._GLOBAL.eventBus.$emit('videoposterend')
                }
            },
            initPlayer() {
                var that = this;
                if (this.isIOS) {
                    if (this.isvideoAutoPlay) {
                        this.wxvplay()
                    }

                    //可见切换重新播放
                    document.addEventListener("visibilitychange", () => {
                        if (document.hidden) {
                            this.$refs[this.videoEle].pause();
                        } else {
                            setTimeout(() => {
                                // if (this.canPlay) {
                                //     this.$refs[this.videoEle].currentTime = 0;
                                //     this.$refs[this.videoEle].play();
                                // }
                            }, 100);
                        }
                    });

                    //路由切换重新播放
                    // window.addEventListener("popstate", () => {
                    //     this.$refs[this.videoEle].pause();
                    //     setTimeout(() => {
                    //         this.$refs[this.videoEle].currentTime = 0;
                    //         this.$refs[this.videoEle].play();
                    //     }, 100);
                    // }, false);

                } else {
                    let url = this.anvideoSrc;
                    let options = {
                        canvas: this.$refs[this.anvideoEle],
                        poster: this.anvideoPoster,
                        decodeFirstFrame: true,
                        loop: this.isvideoLoop,
                        autoplay: this.isvideoAutoPlay,

                        // progressive: this.canUseProgressive, //分部加载
                        progressive: this._GLOBAL.isDevtools ? false : true, //开发模式不启用分块,手机端会加载较慢
                        chunkSize: 1024 * 1024, //分部加载每次2M

                        onVideoDecode: function(decoder, elapsedTime) {
                            // console.log(decoder, elapsedTime)
                        },
                        onPlay: () => {
                            // console.log("video is play------");
                        },
                        onPause: () => {
                            //设置结束
                            // console.log("video is pause-----");
                        }
                    };
                    let hooks = {
                        load() {
                            // console.log("hooks-------load");
                            that.video_isLoad = true;
                            that._GLOBAL.eventBus.$emit('listenvideoevent', ['onload'])
                        },
                        play() {
                            // console.log("hooks-------play");
                            that.$refs.anvideoMusic.pause();
                            that.$refs.anvideoMusic.muted = false;
                        },
                        pause() {
                            // console.log("hooks-------pause");
                        },
                        stop() {
                            // console.log("hooks-------stop");
                        },
                    };

                    //an fix music
                    this.$refs[this.anvideoMusicEle].play();
                    document.addEventListener("WeixinJSBridgeReady", () => {
                        this.$refs[this.anvideoMusicEle].play();
                    }, false);

                    //init
                    this.anvideoPlayer = new JSMpeg.Player(url, options, hooks);
                    // console.log(this.anvideoPlayer)
                    this.anvideoPlayer.source.onProgress = (e) => {
                        let progress = (e.loaded / e.total).toFixed(2)
                            // console.log(progress)
                        that._GLOBAL.eventBus.$emit('listenvideoevent', ['onprogress', progress])

                        if (progress == 1) {
                            this.$store.state.videoLoad = true
                        }
                    }
                }
            },
            wxvplay() { //微信自动播放
                wx.config({
                    debug: false,
                    appId: "1",
                    timestamp: 1,
                    nonceStr: "",
                    signature: "",
                    jsApiList: []
                });
                wx.ready(() => {
                    this.$refs[this.videoEle].play();
                });
                document.addEventListener("WeixinJSBridgeReady", () => {
                    this.$refs[this.videoEle].play();
                }, false);
            },
            nextBtn() {
                this._GLOBAL.eventBus.$emit('videoclicknext')

            },
            changeVoice() {
                if (this.isIOS) {
                    this.$refs[this.videoEle].muted = this.voice_state.state ? true : false;
                } else {
                    this.anvideoPlayer.volume = this.voice_state.state ? 0 : 1;
                }
                this.voice_state.state = ~this.voice_state.state + 2
            },
            play() {
                // this.Utils.$An.fadeOut(this.$refs.playBtn)
                // console.log('--play')
                this.isvideoposter = false
                this.canPlay = true

                if (this.isIOS) {
                    this.$refs[this.videoEle].play();
                    this.wxvplay()
                    this.video_isPlay = true;

                } else {
                    this.anvideoPlayer.play();
                    this.video_isPlay = true;
                }

                setTimeout(() => {
                    this.Utils.$An.fadeIn(this.$refs.playBtn)
                    this.Utils.$An.fadeIn(this.$refs.playBtnTxt)
                }, 6000)
            },
            pause() {
                this.canPlay = false
                if (this.isIOS) {
                    this.$refs[this.videoEle].pause();
                } else {
                    this.anvideoPlayer.pause();
                }
            },

        }
    };
</script>